[viewBag]

[seo]
==
<head>
    <title>{{ this.page.title }} • {{ this.theme.site_name }}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="title" content="{{ this.page.meta_title }}"/>
	<meta name="description" content="{{ this.page.meta_description }}"/>
	<meta name="author" content="UXDA"/>
	<link rel="canonical" href="{{ include(template_from_string(viewBag.canonical_url)) | url  }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">
    <link href="{{ [
    	'assets/scss/styles.scss',
    	'assets/css/animate.min.css',
    	'assets/css/swiper.css',
    	'assets/css/jquery.classyscroll.css',
    	'assets/css/owl.carousel.css',
    	'assets/css/owl.theme.green.css',
    	'assets/css/roadmap.css',
    	'assets/css/other.css'
    	]|theme }}" rel="stylesheet">

	<link rel="mask-icon" href="{{ 'assets/safari-pinned-tab.svg'|theme }}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ 'assets/mstile-144x144.png'|theme }}">
	<meta name="theme-color" content="#ffffff">
	<link rel="manifest" href="{{ 'assets/manifest.json'|theme }}">
	{% component 'seo' %}
    {% styles %}
    {{this.theme.html_header|raw}}
</head>