[viewBag]
==
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered portfolio" role="document">
        <div class="modal-content portfolio video-modal-bg">
            <div class="modal-header d-flex justify-content-end">
                <a href="#" data-dismiss="modal"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ 'assets/img/contacts/cross.svg'|theme }}" alt="Close"/></a>
            </div>
            <div class="modal-body d-flex justify-content-center video-modal"></div>
        </div>
    </div>
</div>