/* The container-cb */
.container-cb {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  font-family: "gilroyEB";
  letter-spacing: 2px;
  text-transform: uppercase;
  border-inline-end-width: 16px;
  color: $light-black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 24px;
}

/* Hide the browser's default checkbox */
.container-cb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: white;
  border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.container-cb:hover input ~ .checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container-cb input:checked ~ .checkmark {
  background-color: $green;
  border: 1px solid $green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: url("../img/icons/checkmark.svg");
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-cb input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-cb .checkmark:after {
  left: 6px;
  top: 2px;
}

.contacts-form {
    .container-cb {
        input {
            width: auto;
        }
    }
}