[viewBag]
==
<div class="container portfolio-map">
    <h2>{{section.title}}</h2>
    <h2 class="pt14">{{section.desc}}</h2>
    <div class="portfolio-map-img">
        <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ section.map|media }}" alt="{{ section.map_alt|default(section.title) }}" />
    </div>



	<div class=" swiper-flags">

		<div class="swiper-wrapper">
			<div class="col-xl-2 col-md-4 col-flags swiper-slide">
				{% for item in section.col1 %}
				<div class="portfolio-country">
					<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
					<p class="pt16">{{item.title}}</p>
				</div>
				{% endfor %}
			</div>
			<div class="col-xl-2 col-md-4 col-flags swiper-slide">
				{% for item in section.col2 %}
				<div class="portfolio-country">
					<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
					<p class="pt16">{{item.title}}</p>
				</div>
				{% endfor %}
			</div>
			<div class="col-xl-2 col-md-4 col-flags swiper-slide">
				{% for item in section.col3 %}
				<div class="portfolio-country">
					<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
					<p class="pt16">{{item.title}}</p>
				</div>
				{% endfor %}
			</div>
			<div class="col-xl-2 col-md-4 col-flags swiper-slide">
				{% for item in section.col4 %}
				<div class="portfolio-country">
					<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
					<p class="pt16">{{item.title}}</p>
				</div>
				{% endfor %}
			</div>
			<div class="col-xl-2 col-md-4 col-flags swiper-slide">
				{% for item in section.col5 %}
				<div class="portfolio-country">
					<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
					<p class="pt16">{{item.title}}</p>
				</div>
				{% endfor %}
			</div>
			<div class="col-xl-2 col-md-4 col-flags swiper-slide">
				{% for item in section.col6 %}
				<div class="portfolio-country">
					<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
					<p class="pt16">{{item.title}}</p>
				</div>
				{% endfor %}
			</div>
		</div>

		<!-- If we need pagination -->
		<div class="swiper-pagination position-relative d-xl-none"></div>


	</div>


{#
	<!-- Slider main container -->
	<div class="swiper-container">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide row">
				<div class="col-6">
					{% for item in section.col1 %}
					<div class="portfolio-country">
						<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
						<p class="pt16">{{item.title}}</p>
					</div>
					{% endfor %}
				</div>
				<div class="col-6">
					{% for item in section.col2 %}
					<div class="portfolio-country">
						<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
						<p class="pt16">{{item.title}}</p>
					</div>
					{% endfor %}
				</div>

			</div>
			<div class="swiper-slide row">
				<div class="col-6">
					{% for item in section.col3 %}
					<div class="portfolio-country">
						<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
						<p class="pt16">{{item.title}}</p>
					</div>
					{% endfor %}
				</div>
				<div class="col-6">
					{% for item in section.col4 %}
					<div class="portfolio-country">
						<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
						<p class="pt16">{{item.title}}</p>
					</div>
					{% endfor %}
				</div>

			</div>
			<div class="swiper-slide row">
				<div class="col-6">
					{% for item in section.col5 %}
					<div class="portfolio-country">
						<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
						<p class="pt16">{{item.title}}</p>
					</div>
					{% endfor %}
				</div>
				<div class="col-6">
					{% for item in section.col6 %}
					<div class="portfolio-country">
						<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
						<p class="pt16">{{item.title}}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>
	</div>
#}
{#
    <div class="row">
        <div class="col-xl-2 col-md-4 col-6 col-flags col-flags-mobile-1 col-flags-tablet-1">
			{% for item in section.col1 %}
            <div class="portfolio-country">
                <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
                <p class="pt16">{{item.title}}</p>
            </div>
			{% endfor %}
        </div>
        <div class="col-xl-2 col-md-4 col-6 col-flags col-flags-mobile-1 col-flags-tablet-1">
			{% for item in section.col2 %}
            <div class="portfolio-country">
                <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
                <p class="pt16">{{item.title}}</p>
            </div>
			{% endfor %}
        </div>
        <div class="col-xl-2 col-md-4 col-6 col-flags col-flags-mobile-2 col-flags-tablet-1">
			{% for item in section.col3 %}
            <div class="portfolio-country">
                <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
                <p class="pt16">{{item.title}}</p>
            </div>
			{% endfor %}
        </div>
        <div class="col-xl-2 col-md-4 col-6 col-flags col-flags-mobile-2 col-flags-tablet-2">
			{% for item in section.col4 %}
            <div class="portfolio-country">
                <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
                <p class="pt16">{{item.title}}</p>
            </div>
			{% endfor %}
        </div>
        <div class="col-xl-2 col-md-4 col-6 col-flags col-flags-mobile-3 col-flags-tablet-2">
			{% for item in section.col5 %}
            <div class="portfolio-country">
                <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
                <p class="pt16">{{item.title}}</p>
            </div>
			{% endfor %}
        </div>
        <div class="col-xl-2 col-md-4 col-6 col-flags col-flags-mobile-3 col-flags-tablet-2">
			{% for item in section.col6 %}
            <div class="portfolio-country">
                <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ item.image|media }}" alt="{{item.title}}" />
                <p class="pt16">{{item.title}}</p>
            </div>
			{% endfor %}
        </div>
    </div>

	<ol class="carousel-indicators d-none" id="carousel_mobile">
		<li data-target="#carouselFlagsIndicators" data-index="1" class="active"></li>
		<li data-target="#carouselFlagsIndicators" data-index="2"></li>
		<li data-target="#carouselFlagsIndicators" data-index="3"></li>
	</ol>
	<ol class="carousel-indicators d-none" id="carousel_tablet">
		<li data-target="#carouselFlagsIndicators" data-index="1" class="active"></li>
		<li data-target="#carouselFlagsIndicators" data-index="2"></li>
	</ol>
#}
    <div class="portfolio-map-btn">
        <a href="{{'/contacts'|app}}" class="uxda-btn-href">
            {{ 'map.add_your_location'|_ }} <span class="btn-arrow-right-green"></span>
        </a>
    </div>
</div>