[viewBag]

[builderList works]
modelClass = "Cubecamp\Uxda\Models\Work"
scope = "scopeActive"
scopeValue = "{{ :scope }}"
displayColumn = "*"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
==
{% set records = works.records %}

{% for item in records %}

{% if loop.index0 % 4 == 0 %}
	{% partial 'sections/blockWorksU' section=item %}
{% elseif loop.index0 % 4 == 1 %}
	{% partial 'sections/blockWorksX' section=item %}
{% elseif loop.index0 % 4 == 2 %}
	{% partial 'sections/blockWorksD' section=item %}
{% elseif loop.index0 % 4 == 3 %}
	{% partial 'sections/blockWorksA' section=item %}
{% endif %}

{% endfor %}