[viewBag]
==
<div class="container apply-social-wrap">
    <p class="p4left">{{ section.title }}</p>
    <div class="apply-social">
        <a href="#" class="social_share" data-type="twitter"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ 'assets/img/team/social/twitter.svg'|theme }}" alt="Twitter"/></a>
        <a href="#" class="social_share" data-type="linkedin"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ 'assets/img/team/social/linkedin.svg'|theme }}" alt="Linkedin"/></a>
        <a href="#" class="social_share" data-type="fb"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ 'assets/img/team/social/facebook.svg'|theme }}" alt="Facebook"/></a>
        <a href="#" class="social_share" data-type="email"><img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ 'assets/img/team/social/share.svg'|theme }}" alt="Share"/></a>
    </div>
</div>